[submodule "hashtable"]
	path = hashtable
	url = https://github.com/szuhaydv/hashtable.git
[submodule "cli/rust-coreutils"]
	path = cli/rust-coreutils
	url = https://github.com/szuhaydv/rust-coreutils.git
[submodule "web/hash-based-spa"]
	path = web/hash-based-spa
	url = /Users/davidszuhay/Programming/PC/rust/server
